<% content_for :title, "New managed event" %>

<h1>New managed event</h1>

<%= render "form", managed_event: @managed_event %>

<br>

<div>
  <%= link_to "Back to managed events", managed_events_path %>
</div>
