<div id="<%= dom_id registration %>">
  <p>
    <strong>Participant:</strong>
    <%= registration.participant&.name %>
  </p>
  <p>
    <strong>Amount Paid:</strong>
    <%= registration.payment&.amount.present? ? number_to_currency(registration.payment.amount) : 'Not paid' %>
  </p>
  <p>
    <strong>Registered At:</strong>
    <%= registration.created_at.strftime('%d %b %Y, %I:%M %p') %>
  </p>
</div>
