<div class="container my-5">
  <h2 class="text-center fw-bold mb-5">🎉 All Upcoming Events</h2>
  <div class="row g-4">
    <% @events.each do |event| %>
      <div class="col-md-6 col-lg-4">
        <%= render partial: "event", locals: { event: event } %>
      </div>
    <% end %>
  </div>

  <% if user_signed_in? && (current_resource_owner.is_a?(AdminUser) || current_resource_owner.role == "host") %>
    <div class="text-center mt-5">
      <%= link_to "➕ Create New Event", new_event_path, class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
</div>
