<div id="<%= dom_id ticket %>">
  <p>
    <strong>Registration:</strong>
    <%= ticket.registration_id %>
  </p>

  <p>
    <strong>Ticket number:</strong>
    <%= ticket.ticket_number %>
  </p>

  <p>
    <strong>Issued at:</strong>
    <%= ticket.issued_at %>
  </p>

</div>
