<h3>Reviews for this Venue</h3>
<%= link_to "Write Review", new_venue_review_path(@venue), class: "btn btn-outline-secondary mb-2" %>
<% @venue.reviews.each do |review| %>
  <p><strong><%= review.participant.name %>:</strong> <%= review.comment %> (⭐ <%= review.rating %>)</p>
<% end %>