<!DOCTYPE html>
<html>
  <head>
    <title>Test Logout</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= link_to "Logout", destroy_participant_session_path, method: :delete %>
  </body>
</html>
